<input type="text" [(ngModel)]="title">
{{ title }}

<app-product [product]=""></app-product>

<div *ngIf="title === 'Nicolas'">
  Este es un Nicolas
</div>

<div *ngIf="title === 'Julian'">
  Este es un Julian
</div>

<div *ngIf="title === 'Camilo'">
  Este es un Camilo
</div>

<div [ngSwitch]="title">
  <p *ngSwitchCase="'Nicolas'">este es Nicolas</p>
  <p *ngSwitchCase="'Julian'">este es Julian</p>
  <p *ngSwitchCase="'Camilo'">este es Camilo</p>
  <p *ngSwitchDefault>No hay match</p>
  
</div>

<button (click)="addItem()">Add item</button>

<ul>
  <li *ngIf="items.length === 0">La lista esta vacia</li>
  <li *ngFor="let name of items; index as i">
    {{ name }} {{ i }}
    <button (click)="deleteItem(i)">delete</button>

  </li>
</ul>

<div *ngFor="let product of products">
  <app-product [product]="product"></app-product>
</div>